OPENCLAW_IMAGE={{ chimerai_openclaw_image }}
OPENCLAW_CONFIG_DIR={{ chimerai_openclaw_config_dir }}
OPENCLAW_WORKSPACE_DIR={{ chimerai_openclaw_workspace_dir }}
OPENCLAW_GATEWAY_PORT={{ chimerai_openclaw_gateway_port }}
OPENCLAW_BRIDGE_PORT={{ chimerai_openclaw_bridge_port }}
OPENCLAW_GATEWAY_BIND={{ chimerai_openclaw_bind }}
OPENCLAW_TZ={{ chimerai_timezone }}
ANTHROPIC_API_KEY={{ chimerai_openclaw_anthropic_api_key }}
OPENAI_API_KEY={{ chimerai_openclaw_openai_api_key }}
