AUTHENTIK_SECRET_KEY={{ chimerai_authentik_secret_key }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_POSTGRESQL__USER={{ chimerai_authentik_postgres_user }}
AUTHENTIK_POSTGRESQL__NAME={{ chimerai_authentik_postgres_db }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ chimerai_authentik_postgres_password }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ chimerai_authentik_bootstrap_email }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ chimerai_authentik_bootstrap_password }}
AUTHENTIK_WEB__WORKERS={{ chimerai_authentik_web_workers }}
AUTHENTIK_WEB__THREADS={{ chimerai_authentik_web_threads }}
AUTHENTIK_WORKER__PROCESSES={{ chimerai_authentik_worker_processes }}
AUTHENTIK_WORKER__THREADS={{ chimerai_authentik_worker_threads }}
PG_PASS={{ chimerai_authentik_postgres_password }}
PG_USER={{ chimerai_authentik_postgres_user }}
PG_DB={{ chimerai_authentik_postgres_db }}
