LITELLM_MASTER_KEY={{ chimerai_litellm_master_key }}
LITELLM_SALT_KEY={{ chimerai_litellm_salt_key }}
DATABASE_URL=postgresql://{{ chimerai_litellm_postgres_user }}:{{ chimerai_litellm_postgres_password }}@postgres:5432/{{ chimerai_litellm_postgres_db }}
STORE_MODEL_IN_DB=True
