CLICKHOUSE_DB={{ chimerai_langfuse_clickhouse_db }}
CLICKHOUSE_USER={{ chimerai_langfuse_clickhouse_user }}
CLICKHOUSE_PASSWORD={{ chimerai_langfuse_clickhouse_password }}
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
