DATABASE_URL=postgresql://{{ chimerai_langfuse_db_user }}:{{ chimerai_langfuse_postgres_password }}@postgres:5432/{{ chimerai_langfuse_db_name }}
DIRECT_URL=postgresql://{{ chimerai_langfuse_db_user }}:{{ chimerai_langfuse_postgres_password }}@postgres:5432/{{ chimerai_langfuse_db_name }}
NEXTAUTH_URL={{ chimerai_langfuse_nextauth_url }}
NEXTAUTH_SECRET={{ chimerai_langfuse_nextauth_secret }}
SALT={{ chimerai_langfuse_salt }}
ENCRYPTION_KEY={{ chimerai_langfuse_encryption_key }}
CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
CLICKHOUSE_URL=http://clickhouse:8123
CLICKHOUSE_USER={{ chimerai_langfuse_clickhouse_user }}
CLICKHOUSE_PASSWORD={{ chimerai_langfuse_clickhouse_password }}
CLICKHOUSE_DB={{ chimerai_langfuse_clickhouse_db }}
CLICKHOUSE_CLUSTER_ENABLED=false
REDIS_CONNECTION_STRING=redis://:{{ chimerai_langfuse_redis_password }}@redis:6379/0
LANGFUSE_S3_EVENT_UPLOAD_BUCKET={{ chimerai_langfuse_event_bucket }}
LANGFUSE_S3_EVENT_UPLOAD_REGION=us-east-1
LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=http://minio:9000
LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID={{ chimerai_langfuse_minio_access_key }}
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY={{ chimerai_langfuse_minio_secret_key }}
LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_MEDIA_UPLOAD_BUCKET={{ chimerai_langfuse_media_bucket }}
LANGFUSE_S3_MEDIA_UPLOAD_REGION=us-east-1
LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT=http://minio:9000
LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID={{ chimerai_langfuse_minio_access_key }}
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY={{ chimerai_langfuse_minio_secret_key }}
LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_BATCH_EXPORT_ENABLED=true
LANGFUSE_S3_BATCH_EXPORT_BUCKET={{ chimerai_langfuse_export_bucket }}
LANGFUSE_S3_BATCH_EXPORT_REGION=us-east-1
LANGFUSE_S3_BATCH_EXPORT_ENDPOINT=http://minio:9000
LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID={{ chimerai_langfuse_minio_access_key }}
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY={{ chimerai_langfuse_minio_secret_key }}
LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE=true
TELEMETRY_ENABLED=false
HOSTNAME=0.0.0.0
